.typeCont {
  width: 360px;
  margin-bottom: 32px;
}

.title {
  color: #101828;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
}

.customLine {
  border: none;
  height: 1px;
  background-color: #dadde1;
  margin: 24px 0;
}

.filterList {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
}

.filterBtn {
  display: flex;
  flex-direction: column;
  width: 112px;
  height: 96px;
  padding: 16px 32px;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border-radius: 12px;
  border: 1px solid #dadde1;
  transition: border-color 250ms;
}

.filterBtnFull {
  padding: 4px 16px;
}

.active {
  border-color: #e44848;
}

.iconBtn {
  width: 32px;
  height: 32px;
}

.textBtn {
  color: #101828;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.08px;
}
