.reviewsBox {
  margin-top: 56px;
  width: 631px;
}

.reviewsList {
  display: flex;
  gap: 44px;
  flex-direction: column;
}

.reviewsItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: start;
  align-items: center;
  text-align: start;
}

.letter {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background: var(--Badges, #f2f4f7);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--Button, #e44848);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.nameRating {
  display: flex;
  gap: 4px;
  flex-direction: column;
  h3 {
    color: var(--Main, #101828);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
  }
}

.comment {
  color: var(--Text, #475467);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
