.catalogList {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.loadMoreBtn {
  width: 145px;
  height: 56px;
  border: 1px solid #dadde1;
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  color: #101828;
  line-height: 24px;
  letter-spacing: -0.01em;
  background-color: inherit;
  transition: border-color 250ms;
  &:hover {
    border-color: #d84343;
  }
}
