/* src/index.css */

body {
  font-family: Inter;
  line-height: 1.5;
  background: var(--White, #fff);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
}
